@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: 'MacPaw Fixel Display';
  src:
    url('./fonts/MacPawFixelDisplay-Regular.woff2') format('woff2'),
    url('./fonts/MacPawFixelDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src:
    url('./fonts/SFProDisplay-Regular.woff2') format('woff2'),
    url('./fonts/SFProDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family:
    'MacPaw Fixel Display',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
